src/main/webapp/WEB-INF/TransactionEnquiry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bc.arteriatech.com/TransactionEnquiry" xmlns:p1="http://bc.arteriatech.com/TransactionEnquiry" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://bc.arteriatech.com/TransactionEnquiry" xmlns="http://bc.arteriatech.com/TransactionEnquiry" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="TransactionEnquiryResponse" type="TransactionEnquiryResponse"/>
            <xsd:element name="TransactionEnquiryRequest" type="TransactionEnquiryRequest"/>
            <xsd:complexType name="TransactionEnquiryRequest">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">bdc9b0df276111e8819300000033cdea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CorporateID" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">d643f832e55511e79fad705a0f18f242</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="UserID" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">d643f833e55511e79f04705a0f18f242</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="UserRegistrationID" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">d643f835e55511e79a84705a0f18f242</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="UniqueID" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">d643f836e55511e78aad705a0f18f242</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="AggregatorID" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TransactionEnquiryResponse">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">19ac442315c511eb848c00000033cdea</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="TransactionEnquiryResponse">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">d9314bcfd72311eab2eb00ffdc51d54e</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="Status" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">fe86f1e2e55511e7990e705a0f18f242</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element minOccurs="0" name="Message" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">fe86bc81e55511e7cbd7705a0f18f242</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element minOccurs="0" name="PGTxnErrorCode" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3804ae6815c511ebac3500090faa0001</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element minOccurs="0" name="UTRNumber" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">fe86f1e4e55511e7aa6d705a0f18f242</xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TransactionEnquiryResponse">
<wsdl:documentation/>
    <wsdl:part name="TransactionEnquiryResponse" element="p1:TransactionEnquiryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TransactionEnquiryRequest">
<wsdl:documentation/>
    <wsdl:part name="TransactionEnquiryRequest" element="p1:TransactionEnquiryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TransactionEnquiry">
<wsdl:documentation/>
    <wsdl:operation name="TransactionEnquiry">
<wsdl:documentation/>
      <wsdl:input message="p1:TransactionEnquiryRequest">
    </wsdl:input>
      <wsdl:output message="p1:TransactionEnquiryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransactionEnquiryBinding" type="p1:TransactionEnquiry">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="TransactionEnquiry">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionEnquiryService">
    <wsdl:port name="TransactionEnquiryPort" binding="p1:TransactionEnquiryBinding">
      <soap:address location="https://l20320-iflmap.hcisbp.eu1.hana.ondemand.com:443/cxf/ARTEC/BC/TransactionEnquiry"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <wsp:ExactlyOne>
                                            <sp:HttpBasicAuthentication/>
                                            <sp:RequireClientCertificate/>
                                        </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
